/* General setup */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Times New Roman', Times, serif;
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
}

h1, h2, h3, h4 {
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: 'Times New Roman';
  src: local("Times New Roman"), url("./fonts/times.ttf");
}

@font-face {
  font-family: Arial;
  src: local("Arial"), url("./fonts/ARIAL.TTF");
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */