html {
  font-family: sans-serif;
  font-size: 16px;
}

div {
    /* Box styling */
    width: 200px;
    height: 170px;
    align-self: center;              /* Broken */
    border-radius: 5%;
    border: 1px outset black;
    box-shadow: 20px solid black; /* Broken */

    /* Text styling */
    text-align: center;
    line-height: 170px;
    font-size: 1.125rem; /* 18 (target) / 16 (base) = 1.125 */
    color: ivory;
    background-color: aqua;
    text-shadow: 1.2px 0.3px black;           /* Broken */
}